.home-wr {
  position: relative;
  width: 80%;
  margin: 10px 10%;
  display: grid;
  background-color: #f4f4f4;
  grid-template-columns: 25% 25% 25% 25%;
}

.logo {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 48px;
  position: absolute;
  left: 220px;
  color: #fff;
  font-size: 20px;
}

.MuiTab-wrapper:hover {
  border: none !important;
  color: #282828 !important;
}

.MuiButtonBase-root:hover {
  border: none !important;
  color: #282828 !important;
}

.check-mark {
  color: blue;
  margin-bottom: 5px;
  font-size: 40px;
}

.MuiCardHeader-title {
  font-size: 20px !important;
  font-weight: bold !important;
}
.MuiCardHeader-subheader {
  font-size: 14px !important;
}

.user-menu {
  position: fixed;
  top: 55px;
  padding-top: 20px;
  right: 160px;
  width: 200px;
  height: 210px;
  background-color: #ddd;
  box-shadow: 0 0 3px #28282862;
  border-radius: 4px;
  z-index: 2;
}

.sign-out-btn {
  width: 80%;
  height: 40px;
  margin: 0 10%;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 36, 36);
  color: #fff;
  font-size: 18px;
}

.location-sign button {
  padding-right: 0 !important;
}