.home-wr {
  position: relative;
  width: 80%;
  margin: 10px 10%;
  display: grid;
  background-color: #f4f4f4;
  grid-template-columns: 25% 25% 25% 25%;
}

.logo {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 48px;
  position: absolute;
  left: 220px;
  color: #fff;
  font-size: 20px;
}

.MuiTab-wrapper:hover {
  border: none !important;
  color: #282828 !important;
}

.MuiButtonBase-root:hover {
  border: none !important;
  color: #282828 !important;
}

.check-mark {
  color: blue;
  margin-bottom: 5px;
  font-size: 40px;
}

.MuiCardHeader-title {
  font-size: 20px !important;
  font-weight: bold !important;
}
.MuiCardHeader-subheader {
  font-size: 14px !important;
}